body {
    /* background-image: url('./assets/img/background.png'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.card.login-card {
    border: 0;
    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgb(172 168 168 / 43%);
    overflow: hidden;
}

.row.no-gutters {
    margin-right: 0px;
    margin-left: 0px;
}

.login-card-img {
    border-radius: 0;
    /* position: absolute; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col-card-image {
    background-color: rgb(255, 255, 255);
}